<div class="container">


  <div style="margin-top:10%" class="card">
    <div class="card-header text-center">
      Registrar Reunión
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          Id:
        </div>
        <div class="col-5">
          <input #id type="text" class="inputId" id="inputId">
        </div>
        <div class="col-2"></div>
      </div><br>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          Tema:
        </div>
        <div class="col-5">
          <input #tema type="text" class="inputId" id="inputTema">
        </div>
        <div class="col-2"></div>
      </div><br>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
          Fecha:
        </div>
        <div class="col-5">
          <input #fecha type="text" class="inputId" id="inputFecha">
        </div>
        <div class="col-2"></div>
      </div><br><br>

      <div class="row">
        <div class="col-12 boton">
          <div (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" class="marcoBoton">
            <span>Añadir foto</span>
          </div>
        </div>
      </div><br><br>

      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
            Id Foto:
          </div>
          <div class="col-5">
            <input #idFoto type="text" class="inputId" id="inputIdFoto">
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
            URL Foto:
          </div>
          <div class="col-5">
            <input #url type="text" class="inputId" id="inputUrl">
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
            Hash Foto:
          </div>
          <div class="col-5">
            <input #hash type="text" class="inputId" id="inputHash">
          </div>
          <div class="col-2"></div>
        </div><br>
        <div class="col-12 boton">
          <div (click)="addImage(id.value, idFoto.value, url.value, hash.value)" class="marcoBoton">
            <span>agregar</span>
          </div>
        </div><br><br>
      </div>

      <div class="row">
        <div class="col-12 boton">
          <div (click)="addReunion(id.value, tema.value, fecha.value)" class="marcoBoton">
            <span>Enviar</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
