<div class="container">
  <div style="margin-top:10%" class="card">
    <div class="card-header text-center">
      Buscar Reunión
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
            <input #id class="card-title text-center center">

        </div>
        <div class="col">
        <button type="button" class="btn btn-success center" (click)="readReunion(id.value)">Buscar</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let reunion of reunion;">

    <div style="margin-top:10%"class="card">
      <div class="card-header text-center">
        Reunión
      </div>
      <div class="card-body">
            <p>Tema: {{reunion.tema}}</p>
            <p>Fecha: {{reunion.fecha}}</p>
            <p>Número de fotos: {{reunion.numFotos}}</p>
            <hr>
            <p>Nueva Foto</p>
            ID: <input #idFoto class="card-title text-center center"><br>
            URL: <input #url class="card-title text-center center"><br>
            HASH: <input #hash class="card-title text-center center"><br>

            <button type="button" class="btn btn-success center" (click)="addFoto(idFoto.value,url.value,hash.value)">Agregar</button>
      </div>
    </div>
  </div>
</div>
