<div class="container">


  <div style="margin-top:10%" class="card">
    <div class="card-header text-center">
      Obtener Foto
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-4">
          Id Reunión
        </div>
        <div class="col-8">
          <input #idReu type="text">
        </div>
      </div><br>
      <div class="row">
        <div class="col-4">
          Id foto
        </div>
        <div class="col-8">
          <input #idFoto type="text">
        </div>
      </div><br><br>
      <div class="row">
        <div class="col-12 boton">
          <div (click)="buscarFoto(idFoto.value, idReu.value)" class="marcoBoton">
            <span>Buscar</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <div id="resultado">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
